<%- include('./connexion/admin.ejs') %>
    <% for (data of datas) { %>
        <a class="header">
            <%- data.nom %>
            <%- data.prenom %>
            <%- data.email %> <br>
            <%- data.telephone %>
        </a>
        <% } %>